.box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.column {
    width: calc(100%/3);
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 80px
}